@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    width: clamp(280px - 2rem, 97dvw - 2rem, 1300px);
    margin-inline: auto;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
